# Exercícios

### 1. Rafaça o código de treinamento da aula 19: “Linear Regression - Prática” no seu computador usando o Jupyter Notebook ou o Google Colabs e compute o R2, o MSE e o RMSE

In [22]:
# imports
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn import metrics as mt

In [2]:
# Acessando os dados

dados = pd.read_csv('dataset/card_credit_limit.csv')
dados.head(5)

,id_cliente,idade,saldo_atual,divida_atual,renda_anual,valor_em_investimentos,taxa_utilizacao_credito,num_emprestimos,num_contas_bancarias,num_cartoes_credito,dias_atraso_dt_venc,num_pgtos_atrasados,num_consultas_credito,taxa_juros,investe_exterior,pessoa_polit_exp,limite_adicional
0,1767,21,278.172008,2577.05,24196.89636,104.306544,31.038763,6,5,7,21,14,9,15,Não,Não,Negar
1,11920,40,268.874152,2465.39,19227.37796,69.858778,36.917093,5,8,5,40,23,10,18,Não,Não,Negar
2,8910,36,446.643127,1055.29,42822.28223,134.201478,34.561714,0,3,6,26,13,3,15,Sim,Não,Negar
3,4964,58,321.141267,703.05,51786.82600,297.350067,31.493561,0,3,7,12,7,2,1,Sim,Não,Negar
4,10100,35,428.716114,891.29,44626.85346,134.201478,28.028887,2,8,7,24,10,8,20,Sim,Não,Negar

In [5]:
# Nomes das colunas, essa informação ajuda na hora de separar features e label
dados.columns

Index(['id_cliente', 'idade', 'saldo_atual', 'divida_atual', 'renda_anual',
       'valor_em_investimentos', 'taxa_utilizacao_credito', 'num_emprestimos',
       'num_contas_bancarias', 'num_cartoes_credito', 'dias_atraso_dt_venc',
       'num_pgtos_atrasados', 'num_consultas_credito', 'taxa_juros',
       'investe_exterior', 'pessoa_polit_exp', 'limite_adicional'],
      dtype='object')

In [12]:
# Separando Features e Label, por definição do objeto alvo

features = ['idade', 'saldo_atual', 'divida_atual', 'renda_anual',
       'valor_em_investimentos', 'taxa_utilizacao_credito', 'num_emprestimos',
       'num_contas_bancarias', 'num_cartoes_credito',
       'num_pgtos_atrasados', 'num_consultas_credito', 'taxa_juros']
label = ['dias_atraso_dt_venc']

In [14]:
# Separando treino e alvo

x_train = dados.loc[:,features]
y_trail = dados.loc[:,label]

In [15]:
# Definindo modelo
regression_linear = LinearRegression()

# treinando e ajustes
regression_linear.fit(x_train,y_trail)

# previsão
y_pred = regression_linear.predict(x_train)

In [20]:
df = dados.loc[:,['id_cliente', 'idade', 'saldo_atual', 'divida_atual', 'renda_anual']]
df['predicted'] = np.round(y_pred,0)
df.head(5)

   id_cliente  idade  saldo_atual  divida_atual  renda_anual  predicted
0        1767     21   278.172008       2577.05  24196.89636       30.0
1       11920     40   268.874152       2465.39  19227.37796       29.0
2        8910     36   446.643127       1055.29  42822.28223       18.0
3        4964     58   321.141267        703.05  51786.82600       17.0
4       10100     35   428.716114        891.29  44626.85346       17.0

In [23]:
# Métricas

r2_square = 100*mt.r2_score(y_trail,y_pred)
print('R² Square = {:,.2f}%'.format(r2_square))

mse = mt.mean_squared_error(y_trail,y_pred)
print('A cada previsão o erro médio - MSE é de U${:,.2f}'.format(mse))

rmse = np.sqrt(mse)
print('A cada previsão o erro médio - RMSE é de U${:,.2f}'.format(rmse))

R² Square = 33.76%
A cada previsão o erro médio - MSE é de U$145.09
A cada previsão o erro médio - RMSE é de U$12.05

### 2. Qual o problema principal de usar a métrica MSE? Escreve um exemplo hipotético, no qual o problema acontece.

### 3. Explique com um pequeno texto ilustrando o benefício de usar a métrica RMSE.

### 4. Modifique 5% das linhas de algumas colunas, adicionando outliers e refaça as métricas de R2, MSE e RMSE

### 5. Faça a seguinte bateria de testes
##### 5.1 Refaça o exercícios 4 com as seguintes quantidade de outliers: 2%, 5%, 10%, 20% e 30%.

### 5.2 Crie um tabela de comparação entre os resultados das 3 métricas (r2, MSE e RMSE ) para cada uma das proporções de outliers ( 2%, 5%,10%, 20% e 30% ) e responda as seguintes perguntas:
##### 1. Como as métricas R2, MSE e RMSE se comportam com a variação outliers no conjunto de dados?
##### 2. Observando as respostas anteriores, quais são as ações que aumentam ou diminuem as métricas de “R2”, “MSE” ou “RMSE” de um problema de negócio?

### 5.4 Escreva um artigo para blog da Comunidade DS, descrevendo o seu aprendizado em relação ao comportamento das métricas, a partir dos seus experimentos com outliers presente nos dados.